@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  font-family: "poppins", "sans-serif";
}

a {
  text-decoration: none;
  color: #c892ef;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c892ef;
  background-color: rgb(190, 153, 225);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(202, 171, 237) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.glass-container {
  display: block;
  max-width: 72vw;
  /* margin-top: 10vh; */
  /* margin-bottom: 38px; */
  background: rgba(134, 101, 143, 0.245);
  padding: 40px;
  border: 2px solid #c68bfa;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.29);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(11.6px);
}

.content {
  display: flex;
  width: 100%;
}

.main {
  /* margin-top: 50px; */
  display: inline-block;
  padding: 20px;
  padding-right: 30px;
}

.main h2 {
  margin-top: 40px;
  font-size: 35px;
}
.main p {
  font-size: 18px;
  line-height: 23px;
  margin-top: 60px;
}

button {
  margin-top: 60px;
  width: 20%;
  height: 40px;
  margin-left: 15px;
  font-size: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.404);
  color: #c892ef;
  background-color: transparent;
  border: 1px solid #e5a8f4;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  border-color: #c892ef;
  background-color: #59318d52;
}

.image-wrapper {
  display: flex;
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-wrapper video {
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.581);
  width: 500px;
 
}

.attrebute {
  position: absolute;
}

@media screen and (max-width: 1075px) {
  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 720px) {

    .image-wrapper video {
        width: 380px;
      }

  li.nav-link {
    font-size: 13px;
  }

  .main h2 {
    font-size: 28px;
  }

  .main p {
    font-size: 15px;
  }

  button {
    font-size: 13px;
  }
}


@media screen and (max-width: 450px) {
    .image-wrapper video {
        width: 250px;
      }
  }

@media (min-aspect-ratio: 16/9) {
  .background {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background {
    width: auto;
    height: 100%;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
  }
}


.imp{
  display: grid;
}

.btn{
  display: flex;
}

.btn button a i{
  font-size: 25px;
  align-content: center;
  color: rgb(61, 24, 104);
}


#twitter i{
  color: rgb(0, 0, 0);
}


#arts i{
  color: #13aff0;
}

#linked i{
  color: #1059b3;
}

#insta i{
  color: #db4fcd;
}

